.auth-window {
  background-color: var(--white-1);
  padding: var(--g-md-gap);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: var(--g-md-gap);

  &__logo {
    margin: 0 auto;
    display: block;
    color: var(--green-1);
    max-height: 60px;
    max-width: 160px;
  }

  &__question {
    text-align: center;
    margin-bottom: 0;
  }
}
