@use '../../../scss/abstracts/mixins';

.header-links {
  @include mixins.list;
  display: flex;
  flex-wrap: wrap;
  gap: var(--g-xs-gap);

  &__text {
    position: relative;
    display: inline-block;

    &::after {
      content: '';
      position: absolute;
      top: 120%;
      left: 0%;
      height: 2px;
      width: 0;
      background-color: var(--green-1);
      transition: 0.2s width;
    }
  }

  &__link {
    padding: 10px;
    text-transform: capitalize;
    color: var(--black-1);
    position: relative;
    text-decoration: none;
    font-size: 1.2rem;

    &_active {
      cursor: default;
      color: var(--black-1);

      .header-links__text::after {
        width: 100%;
      }
    }

    @media (hover: hover) {
      &:not(.header-links__link_active) {
        &:hover {
          color: var(--green-1);

          .header-links__text::after {
            width: 100%;
          }
        }
      }
    }
  }

  @media (max-width: 991.98px) {
    flex-direction: column;
    padding: var(--g-md-gap);
    gap: var(--g-md-gap);

    &__item {
      width: 100%;
    }

    &__link {
      display: block;
      text-align: center;
      transition-duration: 0.2s;
      transition-property: color, background-color;

      &:active {
        color: var(--white-1);
        background-color: var(--green-1);
      }
    }
  }
}
