.section-tabs {
  padding-top: var(--g-md-gap);

  &__pre-title {
    text-align: center;
    margin-bottom: 0;
  }

  &__title {
    text-align: center;
    margin-bottom: var(--g-md-gap);
  }

  &__tabs {
    margin-bottom: var(--g-xlg-gap);
  }
}
